<% include layout/head %>

<h1>CPA WebFlow Client</h1>

<h2><%=user.username%></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Links</h3>
  </div>
  <div class="panel-body">
    <a href="/auth/provider" class="btn btn-warning">Link with CPA</a>
  </div>
</div>

<% include layout/foot %>
