<div class="list-group channel-list">
  <% for(var i=0; i< channels.length; i++) { %>
  <a href="#" class="list-group-item" data-channel="<%= channels[i] %>">
    <h4 class="list-group-item-heading"><%= channels[i].name %></h4>
    <p class="list-group-item-text"><small>IP</small></p>
  </a>
  <% } %>
</div>
