<div class="list-group">
  <a href="#" class="list-group-item" data-mode="PAIRING_MODE">
    <h4 class="list-group-item-heading">PAIRING MODE</h4>
    <p class="list-group-item-text">Use an identity to interact with this Service Provider</p>
  </a>
  <a href="#" class="list-group-item" data-mode="STANDALONE_MODE">
    <h4 class="list-group-item-heading">STANDALONE MODE</h4>
    <p class="list-group-item-text">Use the out-of-the-box experience and authorize this device only</p>
  </a>
</div>
