<div class="well-sm">
  <div class="alert alert-success ">
    <%= message %>
  </div>
  <div>
    <a href="#" class="btn btn-primary" id="trig-with-btn">With AT</a>
    <a href="#" class="btn btn-warning" id="trig-without-btn">Without AT</a>
  </div>
</div>
