<div class="well-sm">
  <h2><%= message %></h2>
  <div id="message-panel">
  </div>
  <div>
    <a href="#" class="btn btn-success" id="tag-btn">Tag</a>
    <a href="#" class="btn btn-primary" id="list-btn">History</a>
  </div>
</div>
