<div class="well-small">

  <h4>Connect to <strong><%= verification_uri %></strong> and enter the following code:</h4>
  <h1><%= user_code %></h1>

  <div id="verify_code_btn" class="btn btn-success btn-large">Done!</div>

</div>




