<div class="well-sm">
  <div class="panel panel-default ">
    <div class="panel-heading">Standby</div>
    <div class="panel-body">
        <strong><%= day %>, <%= date %></strong>
        <h3><%= time %></h3>
    </div>
  </div>
</div>
