<div class="well-sm">
  <strong id="message-panel">
    <%= message %>
  </strong>
  <ul id="list">

  </ul>
  <div>
    <a href="#" class="btn btn-default" id="back-btn">Back to Player</a>
  </div>
</div>
